.loader-container {
  display: grid;
  grid-template-rows: 75vh;
}

.loader {
  justify-self: center;
  align-self: center;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid rgb(207, 206, 206);
  border-radius: 50%;
  border-top: 16px solid rgb(81, 119, 224);
  -webkit-animation: spin 2s linear infinite;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Verdana, sans-serif;
}

body {
  background: lightblue;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  background: #fff;
  width: 250px;
  border-radius: 5%;
  box-shadow: 5px 10px #888888;
}

.weather-card h2 {
  color: rgb(78, 78, 78);
}

.location-temp {
  font-size: 3.5rem;
  margin: 16px 0;
}

.weather-description::first-letter {
  text-transform: uppercase;
}

.form-and-suggestions-container {
  margin-bottom: 25px;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  border: solid 1px grey;
  border-radius: 5px;
  background: #fff;
}

.active-suggestion {
  background: rgba(238, 238, 238, 255);
}

li {
  text-align: left;
  cursor: pointer;
  width: 185px;
  padding: 3px 0;
  background: #fff;
}

input {
  border: none;
  border-bottom: solid 1px;
  background: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  width: 185px;
}

li,
input {
  padding-left: 5px;
}

button {
  font-size: 1rem;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

/* Temperature toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-bottom: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e36414;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #fb8b24;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
  content: "°C";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;
}

input:checked + .slider:after {
  content: "°F";
}
